# Example environment variables
# Copy this file to a file named .env and set your real secrets there. Do NOT commit the real .env file.

AUTH_TOKEN=your_long_random_token_here
PORT=3000
DISCORD_CLIENT_ID=1470277036580016199
DISCORD_CLIENT_SECRET=k2yeLgKP-IM43UeUY8ujxflXGCiAOPYx
DISCORD_REDIRECT_URI=https://gamble-pzep.onrender.com/
